.hero {
  background: url("https://source.unsplash.com/random/1200x650/?elearning");
  background-size: cover;
  background-position: center;
  min-height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background:rgba(0,0,0,0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }
}
.innerWrapper {
  position: relative;
  z-index: 100;
  max-width: 800px;
  margin: 0 auto;
}
