.headerContainer {
    width: 100%;
    background-color: #eebb1d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 25px 40px;

    @media (min-width: 1024px) { 
        font-size: 46px;
        padding: 20px 120px 80px;;
     }
}

.header { 
    display: flex;
    justify-content: center;
    font-size: 24px;
   
    @media (min-width: 1024px) { 
        font-size: 46px;
        padding: 20px 60px 0;
     }
}

.headerText1,
.headerText2 {
    text-align: justify;
    padding: 10px;
    font-size: 14px;

    @media (min-width: 1024px) { 
        padding: 10px 120px;
        font-size: 16px;
     }
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
   
    @media (min-width: 1024px) { 
        flex-direction: row;
     }
}

.image {
    margin: 0 auto;
    padding: 20px 0;
    width: 300px;

    @media (min-width: 1024px) { 
        padding: 80px 0;
        width: 400px;

     }
}

.aboutButton {
    background-color: #304c78;
    color: white;
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 20px 10px;

    @media (min-width: 1024px) { 
        width: 25%;
     }
    
}

.buttoncontainer {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}

// cards-container columns-1 md:columns-2 py-20 px-32 flex justify-around flex-col items-center lg:items-stretch lg:flex-row

//card-image mx-auto pb-5
// flex flex-col justify-center py-8 px-8 text-justify lg:px-14